/*-- Reset Rule --*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/*--************************** Universal Styling (begin)*****************--*/

/*-- Font Families --------------

  Charmonman
  Krub
  Oswald

--------------------------------*/

body {
  background: #050505 url(../images/img01.jpg) repeat;
  font-family: 'Krub', Arial, Helvetica, sans-serif;
  color: #5B5B5B;
}

h1, h2, h3 {
  font-weight: normal;
  font-family: 'Charmonman', cursive;
  font-weight: 200;
  color: #222222;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}

a {
  color: #5E5E5E;
}

.hero {
  max-height: 300px;
  max-width: 1000px;
  width: 100%;
}

.img-md {
  max-width: 420px;
  width: 100%;
}

.wrapper {
  background: #FFFFFF url(../images/img05.jpg) repeat;
}
/*--************************** Universal Styling (end)*****************--*/

/*-- Header (begin) --*/
.header-wrapper {
  overflow: hidden;
}

/*--************* Hamburger Menu (begin) **************--*/
.hamburger {
  background: none;
  position: absolute;
  top: 3%;
  right: 0;
  line-height: 40px;
  padding: 5px 15px 0px 15px;
  color: #222222;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:2.8%;
  right:0;
  padding:7px 15px 0px 15px;
  color:#222222;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
  z-index:1000000;
  font-weight:bold;
  font-size:1rem;
  width:100%;
  background: #FFFFFF url(../images/img05.jpg) repeat;
  position:absolute;
  text-align:center;
  font-size:12px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}

.menu li:hover {
  display: block;
  background: #050505 url(../images/img01.jpg) repeat;
  padding:15px 0 15px 0;
  border-bottom:#dddddd 1px solid;
}

.menu ul li a {
  text-decoration:none;
  margin: 0px;
  color:#222222;
}

.menu ul li a:hover {
  color: #FFFFFF;
  text-decoration:none;
}

.menu a {
  text-decoration:none;
  color:#666;
}

.menu a:hover {
  text-decoration:none;
  color: #FFFFFF;
}
/*--************* Hamburger Menu (end) **************--*/

/*-- Desktop-Menu --*/
.desktop-menu {
  display: none;
  height: 90px;
  padding: 0;
}

.desktop-menu ul {
  padding: 20px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

.desktop-menu a {
  display: block;
  line-height: 100px;
  margin-right: 1px;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0,0,0,.2);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1F1F1F;
  border: none;
}

.desktop-menu a:hover, .desktop-menu .current_page_item a {
  background: url(../images/img01.jpg) repeat;
  text-decoration: none;
  color: #FFFFFF;
}

/*-- Logo --*/
.logo {
  line-height: 120px;
  letter-spacing: -2px;
  font-size: 3rem;
}

#banner {
  background: url(../images/img03.png) no-repeat left bottom;
  margin: 0px auto;
}
/*-- Header (end) --*/

/*-- Page --*/
.page {
  padding: 3%;
}

/*-- Content --*/
.post {
  border-bottom: 1px solid #E7EBED;
  margin-bottom: 10px;
  overflow: hidden;
}

.post .title {
  padding: 7px 0px 0px 0px;
  letter-spacing: -1px;
}

.post .title a {
  border: none;
  text-decoration: none;
  color: #222222;
}

.date-posted {
  margin-bottom: 5px;
}

.post .meta,
.post .posted {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 20px;
}

.more, .comments {
  background: #222222;
  color: #FFFFFF;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
}

/*-- Content (end)--*/

/*-- Sidebar --*/

aside {
  text-align: center;
}

aside ul {
  list-style: none;
}

aside li ul {
  padding: 0 0 30px 20%;
  text-align: left;
}

aside li li {
  line-height: 40px;
  border-bottom: 1px solid #E7EBED;
  border-left: none;
}

aside li li a {
  padding: 0px 0px 0px 20px;
  background: url(../images/img04.jpg) no-repeat left 50%;
}

aside h3 {
  color: #222222;
  font-size: 1.8em;
  height: 38px;
  letter-spacing: -.5px;
  padding: 20px 0px 0px 0px;
  text-align: left;
}

aside a {
  border: none;
  text-decoration: none;
}

aside  a:hover {
  text-decoration: underline;
}
/*-- Sidebar (end)--*/

/*-- Footer --*/
footer {
  padding: 50px 0 50px 0;
  font-family: 'Abel', sans-serif;
}

footer p {
  letter-spacing: 1px;
  line-height: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
/*-- Footer (end)--*/


/*--****************** Start 465 Min Width Media Query ********************--*/

@media (min-width: 465px) {

  figure {
    text-align: center;
  }

  .links {
    justify-content: space-evenly;
  }

  h2 {
    font-size: 2.8rem;
  }

  .date-posted {
    display: flex;
    justify-content: space-between;
  }

  aside li li {
    width: 75%;
  }
}

/*--****************** End 465 Min Width Media Query **********************--*/

/*--****************** Start 750 Min Width Media Query ********************--*/

@media (min-width: 750px) {

  .menu, .hamburger, .cross {
    display: none;
  }

  /*-- Header --*/
  .container {
    display: flex;
    justify-content: space-between;
  }

  #header {
    height: 150px;
  }

  #banner {
    height: 340px;
    width: 1000px;
  }

  /*-- Nav Menu --*/
  .desktop-menu {
    display: inline-block;
    /* width: 55%; */
  }

  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }

  .img-md {
    float: right;
    padding: 0 0 2% 3%;
    width: 400px;
  }

  .links {
    justify-content: flex-start;
  }

  .comments {
    margin-left: 1.5%;
  }

  .aside-flex {
    display: flex;
    justify-content: space-between;
  }

  .aside-flex li {
    width: 90%;
  }

  .aside-flex h3 {
    padding-left: 0;
    text-align: center;
  }

  .flex-li {
    padding-left: 33%;
  }

  .flex-li-2 {
    padding-left: 36%;
  }

}
/*--****************** End 750 Min Width Media Query **********************--*/


/*--****************** Start 1000 Min Width Media Query ********************--*/

@media (min-width: 1000px) {

  h2 {
    text-align: left;
  }

  /*-- Header --*/
  .container {
    width: 1000px;
  }

  /*-- Page --*/
  .page {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    width: 1000px;
  }

  /*-- Content --*/
  #content {
    order: 2;
    width: 65%;
  }

  .post {
    margin-bottom: 40px;
  }

  .post .meta,
  .post .posted {
    margin-bottom: 15px;
    padding: 10px 0px 0px 0px;
  }

  /*-- Sidebar --*/
  aside {
    order: 1;
    padding-left: 3%;
    text-align: left;
    width: 25%;
  }

  .aside-flex {
    display: block;
  }

  /*-- Footer --*/
  #banner {
  }

  footer {
    height: 140px;
    padding: 50px 0 15px 0;
  }
}
/*--****************** End 1000 Min Width Media Query **********************--*/
